<div class="template_user">
	<section class="vrajitor">
		<h2>
		<%= vrajitor.id %>. 
		Vrăjitor: 
		<%= vrajitor.nume %>  <%= vrajitor.prenume %></h2>
		<img src="/uploads/<%= vrajitor.poza %>" alt="[<%= vrajitor.nume %> nu are poza]" />
		<p>Casă: <%= vrajitor.casa %></p><br>
		
	</section>
</div>